<div class="error-entry">
  <div class="error-header">
    <span class="operator"><%= h(@result.mutation.operator_name) %></span>
    <span class="location"><%= h(@result.mutation.file_path) %>:<%= @result.mutation.line %></span>
  </div>
  <pre class="diff"><%= diff_html %></pre>
  <%- unless message.empty? -%>
  <pre class="error-message"><%= h(message) %></pre>
  <%- end -%>
</div>
